@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
.HomeOuterContainer {
  background-image: url("../Assets/Background.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.XImage {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15rem;
  z-index: 5;
    opacity: 0.7;

}
.OImage {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  height: 15rem;
  z-index: 5;
  opacity: 0.7;
}
.HomeInnerContainer {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HomeButtons button {
  padding: 1rem 2rem;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #1e00ff;
  background: rgb(30, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(30, 0, 255, 1) 33%,
    rgba(213, 0, 255, 1) 100%
  );
  color: white;
  cursor: pointer;
  font-family: "Sigmar One", sans-serif;
  font-size: 1.4rem;
  color: white;
  border: 5px solid white;

}
.HomeButtons p{
  font-size: 1.2rem;
  text-align: center;
  color: black;
  font-weight: bold;
}
.HomeButtons input {
  padding: 0.8rem 1.5rem;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #1e00ff;
  font-family: "Sigmar One", sans-serif;
  font-size: 1rem;
  color: #1e00ff;
}
.InputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Use Color Code: #1e00ff (Blue)
#d500ff(Pink) */
@media (max-width: 768px) {
  .XImage{
    height: 12rem;
  }
  .OImage{
    height: 12rem;
  }
}