@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
.HomeOuterContainer {
  background-color: #161e2f;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeInnerContainer {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.HomeButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HomeButtons button {
  padding: 1rem 2rem;
  margin: 10px;
  border-radius: 10px;
  background: #d9d9d9;
  cursor: pointer;
  font-family: "Sigmar One", sans-serif;
  font-size: 1.5rem;
  color: #161e2f;
  transition: background-color 0.2s, color 0.2s;
}
.HomeButtons button:hover{
  cursor: pointer;
  background-color: #161e2f;
  color: #d9d9d9;
}
.HomeButtons p{
  font-size: 1.2rem;
  text-align: center;
  color: black;
  font-weight: bold;
}
.HomeButtons input {
  padding: 0.8rem 1.5rem;
  margin: 10px;
  border-radius: 10px;
  background-color: #d9d9d9;
  font-family: "Sigmar One", sans-serif;
  font-size: 1.8rem;
  color: #161e2f;
  
}
.InputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.InputBox
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputBox input::placeholder
{
  color: #161e2f;

}
/* Use Color Code: #1e00ff (Blue)
#d500ff(Pink) */
@media (max-width: 768px) {
  .XImage{
    height: 15rem;
  }
  .OImage{
    height: 15rem;
  }
}