@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../Assets/Background.png");
}

.loading-content {
   position: absolute;
   z-index: 5;
  text-align: center;
  color: #000;
  font-family: "Sigmar One", sans-serif;
}

p {
  font-size: 24px;
  margin: 0;
}

/* Animation styles */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

p::after {
  content: '';
  display: inline-block;
  animation: fadeInOut 1s infinite;
}
