@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161e2f;
  height: 100vh;
  background-size: cover;
  overflow-y: auto;
}

.loading-content {
  position: absolute;
  z-index: 5;
  text-align: center;
  color: #000;
  color: #d9d9d9;
  font-family: "Sigmar One", sans-serif;
}
.friends-list {
  overflow-y: auto;
}
.loading-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.friends-list > li {
  display: flex;
  margin: 10px 0px;
  gap: 10px;
}
.UserIdBox {
  position: absolute;
  top: 0;
  background-color: white;
  font-size: 2rem;
  z-index: 15;
  user-select: auto !important;
}
.fade {
  z-index: 155555 !important;
  opacity: 1;
  background-color: #0000007a;
}
.modal-content {
  margin-top: 20% !important;
}
.show {
  z-index: 155555 !important;
}
.modal {
  z-index: 155555 !important;
}
.friends-list > li > p {
  display: flex;
}

p {
  font-size: 24px;
  margin: 0;
}
.CopyButton {
  user-select: auto;
  border: 2px solid red;
}
.CopyButton:hover {
  background-color: black;
  cursor: pointer;
}
/* Animation styles */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

p::after {
  content: "";
  display: inline-block;
  animation: fadeInOut 1s infinite;
}
