@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins&display=swap");

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161e2f;
  height: 100vh;
  background-size: cover;
  overflow-y: auto;
}

.loading-content {
  position: absolute;
  z-index: 5;
  text-align: center;
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
}
.friends-list {
  overflow-y: auto;
}
.loading-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.friends-list > li {
  display: flex;
  margin: 10px 0px;
  gap: 10px;
}
.friends-list button {
  background-color: #d9d9d9;
  color: #161e2f;
  font-weight: bold;
}
.top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0bda51; */
  margin: auto;
  border: none;
  border-radius: 10px;
}
.UserIdBox {
  position: absolute;
  top: 20px;
  background-color: white;
  font-size: 2rem;
  z-index: 15;
  user-select: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
#basic-navbar-nav {
  display: flex;
  /* border: 1px solid white; */
}
.OnlineButton {
  background-color: #0bda51;
}
.mr-auto {
  color: #161e2f;
  font-weight: 500;
}
.fade {
  z-index: 155555 !important;
  opacity: 1;
  background-color: #0000007a;
}
.modal-content {
  margin-top: 20% !important;
}
.show {
  z-index: 5 !important;
}
.modal {
  z-index: 5 !important;
}
.friends-list{
  overflow-y: hidden;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.MemberOnlineContainer{
  display: flex;
  justify-content: center;
}
.NumberOfPlayers{
  display: flex;
  color: #65FF00;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #65FF00;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  margin-right: 5px; /* Adjust margin as needed */
}
.friends-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.friends-list > li > p {
  display: flex;
}
p {
  font-size: 24px;
  margin: 0;
}
.CopyButton {
  user-select: auto;
  transition: background-color 0.2s, color 0.2s;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CopyButton:hover {
  background-color: #161e2f;
  color: #d9d9d9;
  cursor: pointer;
}
/* Animation styles */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

p::after {
  content: "";
  display: inline-block;
  animation: fadeInOut 1s infinite;
}
